fastapi
pandas
sentry-sdk[fastapi]
pydantic
uvicorn[standard]
pyyaml
sqlalchemy 
databases
aiomysql
reportlab
python-jose 
requests
python-dotenv
greenlet
cryptography
pydantic[email]
pyjwt
python-jose
rich
python-multipart
